.fondo{
    background-image: url('./img/banner.jpg');
    background-position: top center;
    background-size: cover;
    padding: 10% 20% 40% 30%; /*Derecha abajo izq arriba */
}

.fondo2{
    background-image: url('./img/banner3.jpg');
    background-position: top center;
    background-size: cover;
    padding: 10% 20% 40% 30%; /*Derecha abajo izq arriba */
}
